

p {

}


.container {
    max-width: 1140px;
    margin: 0 auto;
}
header {
    padding: .5rem 1rem;
    background-color: grey;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 2px lightslategray;

}

header .container {

}

.container .hero{
    padding: 2rem;
    margin: 1.25rem;

}

.gridrow {
    display: flex;
    justify-content: space-around;
}

.gridcontents {
    border: orange solid 4px;
    width: 15rem;
}

footer {
    padding: .5rem 1rem;
    background-color: grey;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 2px lightslategray;
}

/*
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

nav li a {
    font-family: "Roboto", sans-serif;
    color: #00374e;
    text-decoration:none;
    font-size: 1.25rem;
} */
.hero {
    background-color: greenyellow;
    border: black 5px solid;
    padding: 1rem;
    color: white;
    /*
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center; */
}